@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

$crimson: #dc143c;

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Inconsolata", monospace;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 14px;
  }
}

.text-crimson {
  color: $crimson;
}

body {
  margin: 0;
  padding: 0;
  background: url("./assets/project-paper.png");
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
  position: relative;
  height: 100vh;
  padding: 1rem;

  .content {
    height: 100%;

    &.justify-center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &.browser-dtector {
      .text {
        font-size: 2.5rem;
        text-align: center;
        margin: 0;

        .browser-name {
          color: $crimson;
          white-space: nowrap;
        }
      }

      .sub-text {
        font-size: 1.2rem;
      }
    }

    &.useragent-parser {
      padding-top: 5rem;
      max-width: 700px;
      margin: auto;
      font-size: 0.9rem;

      .ua-text {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      .ua-input {
        width: 100%;
        padding: 0.75rem 0.5rem;
        border: transparent;
        border-bottom: 1px solid gray;
        background: transparent;
        font-size: 1rem;
        margin-bottom: 2rem;

        &:focus {
          outline: none;
        }
      }

      .parsed-ua {
        width: 100%;
        background-color: white;
        padding: 0.5rem;
        border-radius: 0.25rem;

        .parsed-results {
          margin-top: 1.5rem;
        }

        .parsed-results__title {
          text-decoration: underline;
          margin-bottom: 0.2rem;
          margin-left: 2px;
          font-weight: 700;
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 0.85rem;

    @media only screen and (max-height: 300px) {
      display: none;
    }
  }
}
