name: NPM Publish

env:
  NODE_VERSION: 22

on:
  push:
    tags: v*

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    
    environment:
      name: npm
      url: https://npm.im/browser-dtector

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{env.NODE_VERSION}}
          registry-url: https://registry.npmjs.org/
          cache: npm

      - run: npm ci
      - run: npm run build
      - run: npm publish
