name: NPM Publish

env:
  NODE_VERSION: 14

on:
  push:
    tags: v*

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: ${{env.NODE_VERSION}}
          registry-url: https://registry.npmjs.org/

      - run: npm ci
      - run: npm run build
      - run: npm publish dist/lib/
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
