name: Tests

on:
  push:
    branches: master

env:
  NODE_VERSION: 16

jobs:
  test:
    name: Jest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - run: node --version
      - run: npm --version

      - name: NPM Install
        run: npm ci

      - name: Run Jest Tests
        run: npm run test --if-present

  build:
    name: Rollup
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - run: node --version
      - run: npm --version

      - name: NPM Install
        run: npm ci

      - name: Run Rollup
        run: npm run build:lib --if-present
